<div class="icon__list d-flex align-center {{ class_list }}">
  {%- if type == 'social' -%}
    {%- if settings.social_twitter_link != blank -%}
      <a href="{{ settings.social_twitter_link }}" class="icon-item">
        {% render 'icon-twitter' %}
      </a>
    {%- endif -%}
    {%- if settings.social_facebook_link != blank -%}
      <a href="{{ settings.social_facebook_link }}" class="icon-item">
        {% render 'icon-facebook' %}
      </a>
    {%- endif -%}
    {%- if settings.social_instagram_link != blank -%}
      <a href="{{ settings.social_instagram_link }}" class="icon-item">
        {% render 'icon-instagram' %}
      </a>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
      <a href="{{ settings.social_tiktok_link }}" class="icon-item">
        {% render 'icon-tiktok' %}
      </a>
    {%- endif -%}
    {%- if settings.social_youtube_link != blank -%}
      <a href="{{ settings.social_youtube_link }}" class="icon-item">
        {% render 'icon-youtube' %}
      </a>
    {%- endif -%}
  {%- endif -%}
  {%- if type == 'payment' -%}
    {%- if true -%}
      <a href="{{ settings.social_twitter_link }}" class="icon-item {{ class_item }}">
        {% render 'icon-shop-pay' %}
      </a>
    {%- endif -%}
    {%- if true -%}
      <a href="{{ settings.social_facebook_link }}" class="icon-item {{ class_item }}">
        {% render 'icon-visa' %}
      </a>
    {%- endif -%}
    {%- if true -%}
      <a href="{{ settings.social_instagram_link }}" class="icon-item {{ class_item }}">
        {% render 'icon-mastercard' %}
      </a>
    {%- endif -%}
    {%- if true -%}
      <a href="{{ settings.social_tiktok_link }}" class="icon-item {{ class_item }}">
        {% render 'icon-apple-pay' %}
      </a>
    {%- endif -%}
    {%- if true -%}
      <a href="{{ settings.social_youtube_link }}" class="icon-item {{ class_item }}">
        {% render 'icon-google-pay' %}
      </a>
    {%- endif -%}
    {%- if true -%}
      <a href="{{ settings.social_youtube_link }}" class="icon-item {{ class_item }}">
        {% render 'icon-amex' %}
      </a>
    {%- endif -%}
  {%- endif -%}
</div>
