{{ 'header.css' | asset_url | stylesheet_tag }}

{% liquid
  assign classes = section.settings.color_scheme
%}

<div
  class="js-header__container header p-relative bg-main section {{ section.settings.color_scheme }}"
  style="
    --section-padding-top: {{ section.settings.top_padding }}px;
    --section-padding-bottom: {{ section.settings.bottom_padding }}px
  "
>
  <div class="container-fluid header__container {{ section.settings.logo-position }} align-center">
    <button class="color-text header__search bg-main btn-border-none btn-outline-none cursor-pointer d-inline-block">
      {%- render 'icon-search' -%}
    </button>
    <div class="header__logo text-center">
      <a href="{{ shop.url }}" class="d-block flex-center h-100">
        {%- render 'component-img',
          img_url: section.settings.image,
          class_img: 'header__logo-img w-100 ',
          enable_placeholder: false,
          alt: 'logo'
        -%}
        {%- if section.settings.image == blank -%}
          <span class="header__shop-name color-text heading-1-sm flex-center">{{ shop.name }}</span>
        {%- endif -%}
      </a>
    </div>
    <div class="header__group text-right d-flex align-center justify-end">
      <a href="{{ routes.account_url }}" class="d-none d-inline-block-lg">
        {%- render 'icon-user', class: classes -%}
      </a>
      <span href="{{ routes.cart_url }}" class="header__cart">
        <a href="{{ routes.cart_url }}" class="p-relative  header__icon-bag d-inline-block">
          {%- render 'icon-bag' -%}
          <span id="cart-item-count" class="cart-quantity text-micro color-btn bg-btn p-absolute flex-center">
            {{ cart.item_count }}
          </span>
        </a>
      </span>
    </div>
    <nav class="header__nav p-relative">
      <div class="header__menu js-header__menu cursor-pointer d-none-lg">
        {%- render 'icon-menu', class: 'js-header__icon-menu icon-menu-show header__icon-menu d-none' -%}
        {%- render 'icon-close', class: 'js-header__icon-close header__icon-close d-none' -%}
      </div>
      <div class="header__nav-container bg-main flex-d-column d-flex d-block-lg justify-between p-absolute-md js-header__nav-container">
        <ul class="header__nav-list align-center-lg list-style-none">
          {%- for link in section.settings.menu.links -%}
            <li class="header__nav-item justify-between d-flex align-center p-relative-lg cursor-pointer js-header__nav-item">
              {%- if link.links.size > 0 -%}
                <span class="header__nav-text body-2-lg text-menu color-text">{{ link.title }}</span>
                {%- render 'icon-vector-down',
                  class: 'header__icon-vector-down header__icon-vector d-none d-inline-block-lg'
                -%}
                {%- render 'icon-vector-up', class: 'header__icon-vector-up header__icon-vector d-none' -%}
                {% render 'icon-arrow-right', class: 'd-none-lg' %}
                <div class="header__nav-child-container p-absolute d-none-lg bg-main js-header__nav-child-list">
                  <div class="header__nav-child-text d-none-lg js-header__nav-child-text d-none-lg body-2 color-text">
                    <span>{{ link.title }}</span>
                  </div>
                  <ul class="header__nav-child-list d-flex-lg flex-d-column list-style-none ">
                    {% for childlink in link.links %}
                      <li class="header__nav-child-item {% if forloop.first != true %} header__nav-child-item--margin{% endif %}">
                        <a
                          href="{{ childlink.url }}"
                          class="caption-1-lg header__nav-child-link text-menu color-text"
                        >
                          {{- childlink.title -}}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {%- else -%}
                <a href="{{ link.url }}" class=" header__nav-text body-2-lg color-text text-menu">
                  {{- link.title -}}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
        <div class="menu-section d-none-lg bg-bg-2">
          {%- if shop.customer_accounts_enabled -%}
            <a href="{{ routes.account_url }}" class="d-flex align-center d-none-lg menu-section__log-in">
              {%- render 'icon-user', class: 'menu-section__icon' -%}
              <span class="body-2">Log in</span>
            </a>
          {%- endif -%}
          {%- render 'component-list-icon', type: 'social' -%}
        </div>
      </div>
    </nav>
  </div>
  <div class="header__search-container p-absolute bg-bg-1 bg-bg-1 flex-center">
    <form action="{{ routes.search_url }}" class="header__form d-flex align-center mg-0">
      <input
        type="text"
        placeholder="Search"
        class="header__form-input flex-1 h-100 btn-border-none btn-outline-none"
        name="q"
        value="{{ search.terms | escape }}"
      >
      <button type="submit" class="btn-border-none btn-outline-none bg-bg-1">
        {%- render 'icon-search', class: 'cursor-pointer' -%}
      </button>
    </form>
    {%- render 'icon-close', class: 'header__form-close cursor-pointer' -%}
  </div>
</div>
{%- render 'component-modal', class: 'header__modal' -%}
{%- render 'component-modal', class: 'header__modal-menu' -%}

<script defer>
  const cartItemCount = document.getElementById('cart-item-count');
  const headerCart = document.querySelector('.header__cart');

  function updateCartItemCount() {
    fetch('/cart.json')
      .then((response) => response.json())
      .then((data) => {
        const itemCount = data.item_count;
        if (itemCount == 0) {
          headerCart.innerHTML = `<a href="{{ routes.cart_url }}" class=" header__icon-bag cart-quantity d-inline-block">
            {%- render 'icon-bag-empty' -%}
          </a>`;
        } else {
          headerCart.innerHTML = `<a href="{{ routes.cart_url }}" class="p-relative  header__icon-bag d-inline-block">
        {%- render 'icon-bag' -%}
        <span id="cart-item-count" class="cart-quantity text-micro color-btn bg-btn p-absolute flex-center">
          ${itemCount}
        </span>
      </a>`;
        }
      })
      .catch((error) => {
        console.error('Error fetching cart data:', error);
      });
  }

  updateCartItemCount();
</script>

<script src="{{ 'header.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "default": "bg-1",
      "label": "Color scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "bg-1",
          "label": "Background 1"
        },
        {
          "value": "bg-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        }
      ],
      "info": "To change the card color scheme, update your theme settings."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "logo image"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "logo-position",
      "options": [
        {
          "value": "header-logo-middle-left",
          "label": "middle left"
        },
        {
          "value": "header-logo-top-left",
          "label": "top left"
        },
        {
          "value": "header-logo-top-center",
          "label": "top center"
        }
      ],
      "default": "header-logo-middle-left",
      "label": "Desktop logo position"
    },
    {
      "type": "header",
      "content": "SECTION PADDING"
    },
    {
      "type": "range",
      "label": "Top padding",
      "id": "top_padding",
      "max": 100,
      "min": 1,
      "step": 1,
      "default": 18
    },
    {
      "type": "range",
      "label": "Bottom padding",
      "id": "bottom_padding",
      "max": 100,
      "min": 1,
      "step": 1,
      "default": 18
    }
  ]
}
{% endschema %}
