{{ 'article.css' | asset_url | stylesheet_tag }}

<div
  class="section bg-main {{ section.settings.color_scheme }}"
  style="
    --section-padding-top: {{ section.settings.top_padding }}px;
    --section-padding-bottom: {{ section.settings.bottom_padding }}px
  "
>
  <div class="container article__media">
    {%- render 'component-img',
      img_url: article.image,
      class_img: 'w-100 article__img',
      enable_placeholder: true,
      placehelder_name: 'life-1',
      alt: 'image'
    -%}
  </div>
  <div class="article__container container">
    <h2 class="article__title heading-1-sm heading-1-lg color-text">
      {{ article.title }}
    </h2>
    <span class="article__date caption-1 d-block color-text">{{ article.created_at | date: '%B %Y' }}</span>
    <div class="article__share p-relative btn-border-none btn-outline-none d-flex align-center body-2 color-text">
      {%- render 'icon-share', class: 'article__icon-share' -%}
      Share
      <div class="share-form p-absolute d-none align-center">
        <input
          type="text"
          class="form-control h-100"
          value="https://kenstore2001.myshopify.com{{ article.url }}"
          readonly
        >
        <button class="btn article-copy">Copy</button>
      </div>
    </div>
    <div class="article__content body-1 color-text">{{ article.content }}</div>
    <a href="{{ blog.url }}" class="justify-center text-center article__back body-2 d-flex align-center color-text">
      {%- render 'icon-arrow-left', class: 'article__icon-arrow-left' -%}
      Back to blog</a
    >
    <div class="article__comments d-flex justify-center">
      {% form 'new_comment', article %}
        {{ form.errors | default_errors }}

        <div class="d-flex article__comments-container flex-d-column-md">
          <div class="article__comments-name article__comments-item d-flex align-center">
            <label for="caption-1 color-text name">Name</label>
            <input
              class="article__comments-input btn-border-none flex-1 btn-outline-none"
              type="text"
              name="comment[author]"
              value="{{ form.author }}"
            >
          </div>

          <div class="email article__comments-item d-flex align-center">
            <label for="caption-1 color-text email">Email</label>
            <input
              class="article__comments-input btn-border-none flex-1 btn-outline-none"
              type="email"
              name="comment[email]"
              value="{{ form.email }}"
            >
          </div>
        </div>

        <div class="comment article__comments-text d-flex">
          <label for="caption-1 color-text comment">Comment</label>
          <textarea
            class="article__comments-input btn-border-none flex-1 btn-outline-none"
            name="comment[body]"
            rows="5"
          >{{ form.body }}</textarea>
        </div>

        <div class="submit">
          <input class="btn" type="submit" value="Post" class="btn">
        </div>
      {% endform %}
    </div>
  </div>
</div>

<script>
  const ipnElement = document.querySelector('.form-control');
  const btnElement = document.querySelector('.article-copy');
  const articleShare = document.querySelector('.article__share');
  const shareForm = document.querySelector('.share-form');

  articleShare.addEventListener('click', () => {
    shareForm.classList.toggle('d-none');
  });

  // step 2
  btnElement.addEventListener('click', function () {
    btnElement.innerText = 'Copied!'; // step 3
    ipnElement.select(); // step 4
    document.execCommand('copy'); // step 5
  });
</script>

{% schema %}
{
  "name": "Article",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "default": "bg-1",
      "label": "Color scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "bg-1",
          "label": "Background 1"
        },
        {
          "value": "bg-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        }
      ],
      "info": "To change the card color scheme, update your theme settings."
    },
    {
      "type": "header",
      "content": "SECTION PADDING"
    },
    {
      "type": "range",
      "label": "Top padding",
      "id": "top_padding",
      "max": 100,
      "min": 1,
      "step": 1,
      "default": 40
    },
    {
      "type": "range",
      "label": "Bottom padding",
      "id": "bottom_padding",
      "max": 100,
      "min": 1,
      "step": 1,
      "default": 40
    }
  ],
  "blocks": []
}
{% endschema %}
